.Top {
    margin: 8px;
    background-color: #FEFEFE;
    border: 1px dotted #CFCFCF;
    border-radius:10px;
}

.Left {
    float:left;
    border:1px solid #CFCFCF;
    position:relative;
    left:8px;
    width:200px;
    margin-right:16px
}

.Main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    float:left;
}