.Top {
    margin: 8px;
    background-color: #FEFEFE;
    border: 1px dotted #CFCFCF;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Left {
    float:left;
    border:1px solid #CFCFCF;
    position:relative;
    left:8px;
    width:200px;
    margin-right:32px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    float:left;
    font-size:20px;
    position: relative;
    width: 70%;
}